rules_version = '2';
service cloud.firestore {
match /databases/{database}/documents {
match /tables/{tableId} {
allow read, write: if request.auth != null;
}
match /menu/{menuId} {
allow read: if true;
allow write: if request.auth != null;
}
match /orders/{orderId} {
allow read, write: if request.auth != null;
}
match /waiting_private/{phone} {
allow get: if true;
allow list: if request.auth != null;
allow create: if request.auth != null
|| (
request.resource.data.is_vip == false
&& request.resource.data.status == 'WAITING'
&& request.resource.data.phone == phone
&& request.resource.data.party_size is int
);
allow update: if request.auth != null
|| (
resource.data.status in ['CANCELLED', 'SEATED']
&& request.resource.data.is_vip == false
&& request.resource.data.status == 'WAITING'
&& request.resource.data.phone == phone
&& request.resource.data.party_size is int
&& request.resource.data.called_at == null
);
allow delete: if request.auth != null;
}
match /waiting_public/{id} {
allow read: if true;
allow create: if request.auth != null
|| (
request.resource.data.is_vip == false
&& request.resource.data.status == 'WAITING'
);
allow update, delete: if request.auth != null;
}
}
}
